<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mybatis.mapper.UsersMapper">

    <resultMap id="userMap" type="org.example.mybatis.domain.Users">
        <id property="id" column="id"/>
        <result property="userName" column="user_name" typeHandler="org.example.mybatis.handler.MyStringTypeHandler"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <select id="getUserName" resultType="java.lang.String">
        select user_name from t_users
    </select>

    <select id="getUsersMap" resultMap="userMap">
        select id, user_name, sex from t_users
    </select>

    <select id="getUsersType" resultType="org.example.mybatis.domain.Users">
        select user_name userName, sex from t_users
    </select>

</mapper>