<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sb.mybatis.mapper.UpdateMapper">

    <update id="update">
        update t_users set age = age + 1
    </update>

    <update id="updateRows">
        update t_users set age = age + 1
        <selectKey keyProperty="affectedRows" order="AFTER" resultType="int">
            select row_count()
        </selectKey>
    </update>

</mapper>
