<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zkzong.sb.mybatis.mapper.UsersMapper">
    <select id="getAllUsers" resultType="com.zkzong.sb.mybatis.domain.Users">
        select id, user_name userName, age from t_users
    </select>

    <select id="findByUserName" resultType="com.zkzong.sb.mybatis.domain.Users">
        select id, user_name userName, age from t_users where user_name = #{name}
    </select>

    <insert id="insertOne">
        insert into t_users(user_name, age) values(#{userName}, #{age})
    </insert>

    <insert id="insertAndGetId" parameterType="com.zkzong.sb.mybatis.domain.Users" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">-->
        <!--    SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into t_users(user_name, age) values(#{userName}, #{age})
    </insert>

    <select id="findByIndex" resultType="com.zkzong.sb.mybatis.domain.Users">
        select id, user_name userName, age from t_users
        where user_name = #{arg0} and age = #{arg1}
    </select>

    <select id="findByMap" resultType="com.zkzong.sb.mybatis.domain.Users">
        select id, user_name userName, age from t_users
        where user_name = #{userName} and age = #{age}
    </select>

    <select id="findByParam" resultType="com.zkzong.sb.mybatis.domain.Users">
        select id, user_name userName, age from t_users
        where user_name = #{userName} and age = #{age}
    </select>
</mapper>
