<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="jobA" class="spring.quartz.org.example.JobA"/>-->
<!--    <bean id="jobB" class="spring.quartz.org.example.JobB"/>-->
<!--    <bean id="jobC" class="spring.quartz.org.example.JobC"/>-->

    <!-- Quartz Job -->
    <bean name="JobA" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.example.quartz.spring.JobA"/>
    </bean>

    <bean name="JobB" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.example.quartz.spring.JobB"/>
    </bean>

    <bean name="JobC" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.example.quartz.spring.JobC"/>
    </bean>

    <!-- Cron Trigger, run every 5 seconds -->
    <bean id="cronTriggerA" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="JobA"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="cronTriggerB" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="JobB"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="cronTriggerC" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="JobC"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerA"/>
                <ref bean="cronTriggerB"/>
                <ref bean="cronTriggerC"/>
            </list>
        </property>
    </bean>
</beans>