<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="t1HomeTask" class="com.zkzong.common.scheduledtask.T1HomeTask" scope="singleton"></bean>
    <bean id="t1HomeTaskJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <!--指定要定时执行的方法所在类，将定时任务定义成bean -->
            <ref bean="t1HomeTask" />
        </property>
        <property name="targetMethod">
            <!--指定定时执行的方法 -->
            <value>execute</value>
        </property>
        <property name="concurrent">
            <!--指定目标封装为有状态的任务，有状态的任务不能并发执行，无状态的任务可并发执行 -->
            <value>false</value>
        </property>
    </bean>
    <bean id="t1HomeTaskJobdoTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="t1HomeTaskJob" />
        </property>
        <!-- cron表达式，此处是每2秒钟执行一次 -->
        <property name="cronExpression">
            <value>0/2 * * * * ?</value>
        </property>
    </bean>

    <!--启动工作 -->
    <bean lazy-init="false"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 这里添加多个定时任务触发器，对应第2步的bean id -->
                <ref local="t1HomeTaskJobdoTime" />
            </list>
        </property>
    </bean>
</beans>